.movies-search {
  padding: 88px 70px 157px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .movies-search {
    padding: 88px 30px 158px;
  }
}

@media (max-width: 450px) {
  .movies-search {
    padding: 99px 10px 159px;
  }
}

.movies-search__more-button_wrapper {
  display: flex;
  justify-content: center;
}

.movies-search__more-button {
  display: flex;
  justify-content: center;
  width: 320px;
  margin: 0;
  border: none;
  border-radius: 6px;
  background-color: #f9f9f9;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  padding: 11px 0;
  cursor: pointer;
}

.movies-search__more-button:hover {
  opacity: 0.8;
}

.movies-search__not-found {
  min-height: 100vh;
}

.movies-search__not-found-text {
  margin: 0;
  padding-top: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #fff;
}
