@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

body {
  background-color:#FFFFFF;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

