.form__submit-button {
    width: 396px;
    height: 45px;
    border-radius: 3px;
    background: #000;
    text-align: center;
    border: none;
    padding: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 16px;
    cursor: pointer;
  }
  
  .form__submit-button_disabled {
    background: #f8f8f8;
    color: #c2c2c2;
    cursor: auto;
  }
  
  .form__submit-button:hover {
    opacity: 0.8;
  }
  
  .form__submit-button_type_signup {
    margin-top: 68px;
  }
  
  .form__submit-button_type_signin {
    margin-top: 157px;
  }
  
  @media (max-width: 424px) {
    .form__submit-button {
      width: 260px;
      font-size: 12px;
      line-height: 14.52px;
      margin-bottom: 14px;
    }
  
    .form__submit-button_type_signup {
      margin-top: 157px;
    }
  
    .form__submit-button_type_signin {
      margin-top: 246px;
    }
  }
  