.navtab {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background-color: #000;
  height: 66px;
}

.navtab__links {
  max-width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: #000;
  margin: 0 auto;
  gap: 40px;
}

.navtab__link {
  list-style-type: none;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  text-align: center;
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.navtab__link:hover {
  opacity: 0.7;
}

.promo__button {
  padding: 0;
  max-width: 75px;
  height: 36px;
  border: none;
  border-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  background-color: transparent;
  color: #fff;

  cursor: pointer;
  text-decoration: underline;
}

.promo__button:hover {
  opacity: 0.8;
}

@media (max-width: 450px) {
  .navtab__link {
    font-size: 11px;
  }

  .navtab__links {
    padding: 13px;
    gap: 25px;
  }
}
